{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Grupos{% endblock %}
</head>

{% block content %}
    
<body>

    <div class="mx-auto mt-24 mb-20 text-center">
        <h2 class="mb-12 text-center text-4xl font-extrabold text-gray-900 dark:text-gray-200 sm:text-5xl">
            Familias creadas por ti
        </h2>
        <div class="flex flex-wrap justify-center gap-6 mb-4">
            <a class="relative" href="#">
                <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
                <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-black bg-orange-400 px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-orange-600 hover:text-white">Agrega una nueva!</span>
            </a>
        </div>
        <div class="mx-auto max-w-3xl items-stretch text-left sm:flex space-x-8 sm:text-center">
            {% for group in groups_creator %}
                <div class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg dark:text-white dark:hover:bg-gray-700 flex-col sm:hover:shadow-2xl bg-gray-100 dark:bg-gray-800">
                        <div class="flex">
                            <div class="font-semibold text-black dark:text-white sm:my-4 text-4xl">{{group.name}}</div>
                            <div class="text-sm opacity-75">{{group.description}}
                            </div>
                        </div>

                        <div class="bg-white dark:bg-gray-800 rounded-xl shadow-2xl max-w-md w-full overflow-hidden transition-all duration-300 hover:shadow-3xl animate-fade-in">
                            <div class="p-6">
                                <h2 class="text-2xl font-bold text-orange-800 dark:text-white mb-4">Miembros del grupo</h2>
                                <div class="space-y-4">
                                    {% for miembro in group.miembros %}
                                        <div class="flex items-center space-x-4 p-3 bg-orange-50 dark:bg-gray-700 rounded-lg transition-all duration-300 hover:bg-orange-100 dark:hover:bg-gray-600">
                                            <div>
                                                <h3 class="text-lg font-semibold text-orange-800 dark:text-white">Persona nombre</h3>
                                                <p class="text-sm text-gray-600 dark:text-gray-300">persona descripciopn</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="px-6 py-4 bg-orange-100 dark:bg-gray-700 flex justify-between items-center">
                                <span class="text-sm text-orange-800 dark:text-gray-300">{{ group.miembros|length + 1 }} miembros</span>
                                <button onclick="openModal('model{{group.id}}')" class="bg-orange-800 text-white px-4 py-2 rounded-lg hover:bg-orange-900 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-orange-800 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
                                    Invitar persona
                                </button>
                            </div>
                        </div>

                        <div id="model{{group.id}}" class="fixed hidden z-50 top-0 left-0 bg-gray-800 bg-opacity-60 flex items-center justify-center h-full w-full">
                            <div class="flex items-center justify-center h-full">
                                <div class="flex max-w-3xl">
                                    <div class="p-6 pt-0 text-center rounded-md bg-white">
                                        <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">
                                            codigo secreto
                                        </h3>
                                        <span class="bg-blue-100 flex gap-5 items-center justify-between py-3 px-5 rounded-full mb-6" >
                                            <code class="text-blue-900 text-left whitespace-nowrap overflow-hidden overflow-ellipsis">
                                                {{group.code}}
                                            </code>
                                            <span class="text-blue-900 cursor-pointer" onclick="copyToClipboard('{{group.code}}')">
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 9.50006C1 10.3285 1.67157 11.0001 2.5 11.0001H4L4 10.0001H2.5C2.22386 10.0001 2 9.7762 2 9.50006L2 2.50006C2 2.22392 2.22386 2.00006 2.5 2.00006L9.5 2.00006C9.77614 2.00006 10 2.22392 10 2.50006V4.00002H5.5C4.67158 4.00002 4 4.67159 4 5.50002V12.5C4 13.3284 4.67158 14 5.5 14H12.5C13.3284 14 14 13.3284 14 12.5V5.50002C14 4.67159 13.3284 4.00002 12.5 4.00002H11V2.50006C11 1.67163 10.3284 1.00006 9.5 1.00006H2.5C1.67157 1.00006 1 1.67163 1 2.50006V9.50006ZM5 5.50002C5 5.22388 5.22386 5.00002 5.5 5.00002H12.5C12.7761 5.00002 13 5.22388 13 5.50002V12.5C13 12.7762 12.7761 13 12.5 13H5.5C5.22386 13 5 12.7762 5 12.5V5.50002Z"
                                                        fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                        </span>
                                        <a href="#" onclick="closeModal('model{{group.id}}')"
                                            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                                            Yes, I'm sure
                                        </a>
                                        <a href="#" onclick="closeModal('model{{group.id}}')"
                                            class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center">
                                            No, cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            {% endfor %}
        </div>
    </div>

    <script src="../../static/js/copy.js"></script>
    <script src="../../static/js/modals.js"></script>

</body>
{% endblock %}
</html>
