<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/LOGO.svg"/>
    <link rel="stylesheet" href="../static/css/bg.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Habits{% endblock %}</title>
</head>
<body>
    <nav>
        {% include 'nav.html' %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main> 

    <div class="fixed inset-0 w-full h-full -z-10 overflow-hidden bg-gradient-to-l from-[#ffa44e] to-[#d89264] dark:from-[#8b6246] dark:to-[#673f1a] ">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</body>
</html>
