<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
</head>
<body>
    <h1>Crear Nueva Tarea</h1>
    <form action="/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="description">Descripción:</label>
        <input type="text" name="description" id="description" required>
        <br>
        <label for="frequency">Frecuencia:</label>
        <input type="number" name="frequency" id="frequency" required>
        <br>
        <button type="submit">Crear</button>
    </form>
    <a href="/">Volver</a>
</body>
</html>
