<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <a href="/create">Crear Nueva Tarea</a>
    <ul>

        {% if tasks %}
            {% for task in tasks %}
                <div>
                    <h2>{{ task.name }}</h2>
                    <p>{{ task.description }}</p>
                    <p><strong>Frecuencia:</strong> {{ task.frequency }}</p>
                    <p><strong>Creado el:</strong> {{ task.created_at }}</p>

                    <br>

                    <a href="/edit/{{ task.id }}">Editar</a>
                    <form action="/delete/{{ task.id }}" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </div>

                {% for i in range(task.frequency - (task.dailies | length)) %}
                    <li>
                        <!-- Botón para crear una nueva tarea diaria -->
                        {{ i + 1 + (task.dailies | length)}}
                        <form action="/create_lugar/{{ task.id }}" method="POST" style="display:inline;">
                            <button type="submit">Listo! </button>
                        </form>
                    </li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No hay tareas disponibles.</p>
        {% endif %}

        <!-- Mostrar las tareas diarias agrupadas por día -->
        <h3>Tareas Diarias Agrupadas por Día</h3>
        {% if tasks_by_date %}
            {% for date, dailies in tasks_by_date.items() %}
                <div>
                    <h3>Actividades para el día: {{ date }}</h3>
                    <ul>
                        {% for daily in dailies %}
                                <strong>ID Tarea:</strong> {{ daily.id }}<br>
                                <strong>Fecha de Creación:</strong> {{ daily.created_at }}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay tareas diarias asociadas.</p>
        {% endif %}


    </ul>
</body>
</html>
