{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Crear Tarea{% endblock %}
</head>

{% block content %}
    <h1>Crear Nueva Tarea</h1>
    <form action="/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="description">Descripción:</label>
        <input type="text" name="description" id="description" required>
        <br>
        <label for="frequency">Frecuencia Diaria:</label>
        <input type="number" name="frequency" id="frequency" required>
        <br>
        <button type="submit">Crear</button>
    </form>
    <a href="/dashboard">Volver</a>
{% endblock %}
